*{
margin:0;
padding:0;
box-sizing:border-box;
font-family: Arial, Helvetica, sans-serif;;
}


body{
background:#111;
color:white;
}

/* NAVBAR */

header{
  position: relative;
  height: 150px;
  overflow: hidden;
}

.video-container{
  position: absolute;
  top: -180%;
  left:0;
  width:100%;
  height:400%;
  overflow:hidden;
}

.video-bg{
  width: 100%;
    height: 100%;
    pointer-events: none;
    transform: scale(1.3);
    filter: brightness(0.6) contrast(1.2);
}

.navbar{
  position:relative;
  z-index:2;
}

.logo{
  text-shadow: 0 0 10px rgba(255,77,0,0.8);
  font-family: 'Playfair Display', serif;
  font-weight: 700;
}

/*carrousel*/
.carrusel-wrapper{
  position:relative;
  display:flex;
  align-items:center;
}

.carrusel{
  display:flex;
  overflow-x:auto; /* 🔥 importante */
  gap:15px;
  scroll-behavior: smooth;
  width:100%;
}

/* BOTONES */

.btn-scroll{
  position:absolute;
  background:#ff4d00;
  border:none;
  color:white;
  font-size:20px;
  padding:10px;
  border-radius:50%;
  cursor:pointer;
  z-index:3;
  top:50%;
  transform:translateY(-50%);
}

.btn-scroll.left{
  left:5px;
}

.btn-scroll.right{
  right:5px;
}

/* ocultar scrollbar */
.carrusel::-webkit-scrollbar{
  display:none;
}

.combos{
  padding:20px;
  overflow: hidden;
}
.combo-card{
  min-width:250px;
  flex-shrink:0;
}
.combo-card{
  min-width:250px;
  flex-shrink:0;
}

.combo-bg{
  height:180px;
  background-size:cover;
  background-position:center;
  border-radius:10px;
  position:relative;
}

.combo-bg::before{
  content:"";
  position:absolute;
  width:100%;
  height:100%;
  background:rgba(0,0,0,0.5);
  border-radius:10px;
}

.combo-content{
  position:relative;
  z-index:2;
  padding:15px;
  display:flex;
  flex-direction:column;
  justify-content:flex-end;
  height:100%;
}

.combo-content button{
  margin-top:10px;
  background:#ff4d00;
  border:none;
  padding:10px;
  color:white;
  border-radius:5px;
}

.combo-card{
  min-width:250px;
  flex-shrink:0;

  scroll-snap-align: start; /* 🔥 clave */
}


.menu a{
color:white;
text-decoration:none;
}


/* BOTON */

.btn{
display:inline-block;
margin-top:20px;
padding:12px 25px;
background:#ff4d00;
color:white;
text-decoration:none;
border-radius:5px;
font-weight:bold;
}

/* PIZZAS */

.pizzas{
padding:60px 20px;
text-align:center;
}

.pizza-container{
display:flex;
justify-content:center;
gap:30px;
margin-top:40px;
flex-wrap:wrap;
}

.pizza-card{
background:#1c1c1c;
padding:20px;
width:250px;
border-radius:10px;
}

.pizza-card h3{
color:#ff4d00;
margin-bottom:10px;
text-shadow: 2px 2px 8px rgba(0,0,0,0.9);
}

.pizza-card span{
display:block;
margin-top:10px;
font-weight:bold;
}

/* PEDIDO */

.pedido{
padding:60px;
text-align:center;
background:#000;
}


body{

margin:0;
font-family:Arial;
background:#111;
color:white;

}

header{

background:#000;
padding:20px;
text-align:center;

}

.menu{

display:grid;
grid-template-columns:repeat(auto-fit,minmax(220px,1fr));
gap:20px;
padding:20px;

}

.card{

background:#1c1c1c;
padding:20px;
border-radius:10px;
text-align:center;

}
.card-bg{
    height: 200px;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}
.card-bg::before{
content: "";
position: absolute;
width: 100%;
height: 100%;
background: rgba(0,0,0,0.7);
}    

.contenido{
    position: relative;
    z-index: 2;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 15px;
    text-shadow: 6px 6px 18px rgba(0,0,0,0.9);
    backdrop-filter: blur(0.4px);
}

.contenido p{
    text-shadow: 1px 1px 2px rgba(0,0,0,0.9);
}
.card button{

background:#ff4d00;
border:none;
padding:10px;
color:white;
cursor:pointer;
border-radius:5px;
transition: 0.2s;

}
.card button:active{
    transform:scale(0.9);

}

.carrito{

position:fixed;
right:-320px;
top:0;
width:300px;
height:100%;
background:#000;
padding:20px;
transition:0.3s;
overflow:auto;
z-index: 999;

}
.carrito.abierto{

right:0;

}
.btn-carrito{

position:fixed;
bottom:20px;
right:20px;
background:#ff4d00;
border:none;
padding:15px;
border-radius:50px;
color:white;
cursor:pointer;
z-index: 9999;

}
.cerrar{
position:absolute;
top: 10px;
right: 10px;
background: red;
color: white;
border: none;
cursor: pointer;
padding:5px 10px;
border-radius:5px;
}
.enviarPedido{
background: #ff4d00;
color:white;
border:none;
cursor:pointer;
padding:12px 20px;
border-radius:5px;
font-weight: bold;
width: 100%;
transition: 0.3s;
}
.enviarPedido:hover{
background: #ff6a2B;
transform: scale(1.05);
}

.volando{
  position: fixed;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  z-index: 9999;
  pointer-events: none;
  transition: all 0.7s ease;
}

.overlay{
position:fixed;
top:0;
left:0;
width:100%;
height:100%;
background:rgba(0,0,0,0.5);
display:none;
opacity:0;
pointer-events: none;
z-index: 998;

}
.overlay.activo{
display:block;
opacity: 1;
pointer-events: all;

}

input{

width:100%;
padding:10px;
margin-top:10px;

}

button{

margin-top:10px;

}
/* FOOTER */

footer{
text-align:center;
padding:20px;
background:#111;
font-size:14px;
}
@media (max-width: 600px){

  .menu{
    grid-template-columns: 1fr;
    padding: 10px;
  }

  .card{
    padding: 10px;
    position: relative;
    z-index: 1;
  }

  .card-bg{
    height: 160px;
    position:relative;
    z-index: 1;
  }

  .contenido{
    padding: 10px;
    position: relative;
    z-index: 1;
  }

  .card h3{
    font-size: 16px;
  }

  .card p{
    font-size: 14px;
  }

  .card button{
    width: 100%;
    padding: 8px;
    font-size: 14px;
  }

  .btn-scroll{
    display:none;
  }

  .carrusel{
    overflow-x:auto;
  }
}

